{% extends "layout.html" %}
{% block body %}
<nav>
    <a href="/">Home</a> |
    <a href="/challenge">Challenges</a> |
    <a href="/history">History</a>
  </nav>

  <h1>Your Joke:</h1>
  <p>{{ joke }}</p>
    <div>
    <form method="post" action="/">
        <label for="type">What kind of joke do you want?</label>
        <input type="text" id="type" name="type" placeholder="e.g. programming, dad, short">
        <button type="submit">Get Joke</button>
    </form>
    </div>
    

{% endblock %}
